html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 280px;
  min-height: 280px;
  padding-top: 20px;
  padding-left: 20px;

  font-size: 14px;
  line-height: 1.2;
  font-family: "Arial", sans-serif;

  background-color: #ecf0f1;
}

.backgrounds {
  display:inline-block;
  width:200px;
  background-color:#1abc9c;
  color:white;
  padding:0px 20px;
  
  }
  
  .h1 {
  margin-top:20px;
  font-size:20px;
  font-weight:normal;
  }
  
.p {
 margin-top:20px;
  }
  
.share {
  margin-top:25px;
  }
  
.social {
  display:inline-block;
  width:30px;
  height:30px;
  background-color:#16a085;
  margin-right:5px;
  margin-bottom:17px;
  background-image:url("social-challenge.png");
  background-repeat:no-repeat;
  }
  
.social-fb {
  background-position:0px 0px;
  }
  
.social-tw {
  background-position:-30px 0px;
  }
  
.social-g {
  background-position:-60px 0px;
  }